* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 239, 239);
}

body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

h1 {
    width: 70vw;
    padding-top: 10vh;
}